#new {
    margin-top: 30px;
    padding: 30px;
    
}
section {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/img/book.jpg") ;
    background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
        background-attachment: fixed !important;
        overflow: hidden !important;
        -webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
}

section#new {
    margin-top: 0;
}

#form {
    background-color: #63322E;
    padding: 30px;
    border: 1px solid black;
    opacity: .9;
    font-size: 22px;
}

.white {
    color: black;
}

legend {
    font-size: 42px;
}