<footer>

        <section id="footer-cover">
            <div id="contact">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">
                            <div id="contact-left" class="text-center">

                                <h2><i class="fa fa-address-book "></i> Contact Me</h2>


                                <div id="contact-info">
                                    <a href="https://github.com/mfleming1290"><i id="social-git" class="fa fa-github-square fa-4x social"></i></a>
                                    <a href="https://twitter.com/mattflemingii"><i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
                                    <a href="https://www.linkedin.com/in/matt-fleming-b1589796/"><i id="social-fb" class="fa fa-linkedin-square fa-4x social"></i></a>
                                    <a href="mailto:matthewjamesfleming@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-4x social"></i></a>                                    
                                </div>
                                <div class='resume-title-underline'></div>
                                <div id="resume">
                                    <h1>Resume:</h1>
                                    <a href="./downloads/MFleming_Resume.docx" download><i id="social-em" class="fa fa-file fa-3x "></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--<section id="footer-cover">-->

            <div id="footer-content-box">

                <div id="footer-content-box-inner" class="text-center">
                    <div id="footer-heading">
                        <p class="text-center para">Handmade by me © 2017.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>