<fieldset>
  <legend>PowerComponent</legend>
  <div>
    <p>Initial Power Level</p>
    <input type="number" max="100" min="0" [(ngModel)]="power" >
    <button>Calculate Powers</button>
  </div>

  <app-human-component [power]='power' ></app-human-component>
  <app-saiyan-component [power]='power'></app-saiyan-component>
  <app-super-saiyan-component [power]='power'></app-super-saiyan-component>
  <app-super-saiyan-two-component [power]='power'></app-super-saiyan-two-component>
  <app-super-saiyan-three-component [power]='power'></app-super-saiyan-three-component>
  <app-super-saiyan-four-component [power]='power'></app-super-saiyan-four-component>


</fieldset>