<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>comments</h1>
        <p><%= post.text %></p>
        <p><%= post.comments[0].text %></p>
    </body>
</html>
