.ng-invalid:not(form).ng-touched, .ng-invalid:not(form).ng-dirty {
    border: 2px solid red;
}

.ng-valid:not(form){
    border: 2px solid green;
}

input.ng-invalid.ng-touched:focus {
    border: 2px solid orange;
}

.selected {
    background-color: gray !important;
    color: white;
}

.white {
    background-color: #fff;
    
}

/*td {
    background-color: #605C4E;
}*/

#bl {
    background-color: #2E294E;
}

h1 {
        color: white;
        margin-top: 0;
        /*font-family: "Roboto Condensed", sans-serif;*/

    
}