<!--<app-new-book (sendBook)='dataFromNewBook($event)'></app-new-book>-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <input type="text" [(ngModel)]='filter._id' placeholder='ID'>
            </th>
            <th>
                <input type="text" [(ngModel)]='filter.title' placeholder='Title'>
            </th>
            <th>
                <input type="number" [(ngModel)]='filter.year' placeholder='Year'>
            </th>
            <th>
                <input type="text" [(ngModel)]='filter.author' placeholder='Author'>
                <!--<input #txtFname placeholder="Autthor" />-->

            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr [routerLink]="['/books', book._id]" *ngFor = 'let book of books | search:filter' (click)='selectBook(book)' [class.selected]='selectedBook === book'>
            <td>{{book._id}}</td>
            <td>{{book.title | titleize}}</td>
            <td>{{book.year}}</td>
            <td>{{book.author.name}}</td>
            <td (click)='tdClick($event)'> <button class='btn btn-danger btn-sm' (click)='deleteBook(book)'>Delete Book</button></td>
        </tr>
    </tbody>
</table>
<!--<app-book-details (updatedBook)='updateSelectedBook($event)' [book]='selectedBook'></app-book-details>-->
 