<section id="bl" *ngIf='pagedItems'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="list">
                    <div id="no-more-tables" class="text-center">
                        <h1>Games</h1>
            
                        <!-- items being paged -->
                        <!--<div *ngFor="let item of pagedItems">{{item.title}}</div>-->
                        <table class="table table-striped table-responsive col-md-12 table-bordered table-condensed white">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                    Name                                    
                                    </th>
                                    <th class="text-center">
                                      Rating
                                    </th>
                                    <th class="text-center">Release Date</th>
                                    <th class="text-center">Link</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [routerLink]="['/games', game._id]" *ngFor = 'let game of pagedItems | search:filter' (click)='selectGame(game)' [class.selected]='selectedGame === game'>
                                    <td>{{game.name}}</td>
                                    <td>{{game.rating}}</td>
                                    <td>{{game.release}}</td>
                                    <td>{{game.link}}</td>
                                    <td (click)='tdClick($event)'> <button class='btn btn-danger btn-sm' (click)='deleteGame(game)'>Delete Game</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- pager -->
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 