<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <div id="results">
            <h1>Submitted Information</h1>
            <p>Name: <%= data.name %> </p>
            <p>Dojo Location: <%= data.location %></p>
            <p>Favorite Language: <%= data.language %></p>
            <p>Comment: <%= data.comment %></p>
            <a href="/">Go Back</a>
        </div>
    </body>
</html>
