<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>This Otter</h1>
        <p> Name: <%= data.name %> <p>
        <p> Weight: <%= data.weight %> <p>
        <p> Color: <%= data.color %> <p>
        <a href="/mongoose/edit/<%= data.id %>">Update otter info</a>

    </body>
</html>
