<div ng-if='errors'>
    <ul>
        <li ng-repeat='error in errors'>{{ error }}</li>
    </ul>
</div>
<form action="" ng-init=getNinja() ng-submit="updateNinja(ninja)">
    <label for=""><input type="text" placeholder='Name' ng-model="ninja.name"></label>
    <label for=""><input type="text" placeholder='Age' ng-model="ninja.age"></label>
    <label for=""><input type="text" placeholder='Location' ng-model="ninja.location"></label>
    <label for="">
        <select ng-options='belt as belt.color for belt in belts' ng-model ='ninja.belt'></select>
    </label>
    <input type="submit" name="" value="Submit">
</form>
<a href="#!/ninjas"><button type="button">Back</button></a>
