<div ng-controller='mainController'>
    <h1>Login</h1>
    <form ng-submit='login()'>
        <p>{{errors}}</p>
        {{errors.login_reg.message}}
        <div><label for=""><input type="text" ng-model='user.email' placeholder='email'></label></div>
        <div><label for=""><input type="password" ng-model='user.password' placeholder='password'></label></div>
        <button type="submit" name="button">login</button>
    </form>
</div>

<div ng-controller='mainController'>
    <h1>Register</h1>
    <form ng-submit='register()'>
        <p>{{errors}}</p>
        <div class=""><label for=""><input type="text" ng-model='user.first_name' placeholder='first name'></label></div>
        <div class=""><label for=""><input type="text" ng-model='user.last_name' placeholder='last name'></label></div>
        <div class=""><label for=""><input type="text" ng-model='user.email' placeholder='email'></label></div>
        <div class=""><label for=""><input type="password" ng-model='user.password' placeholder='password'></label></div>
        <div class=""><label for=""><input type="password" ng-model='user.passwordConfirm' placeholder='password'></label></div>
        <div class=""><label for=""><input type="date" ng-model='user.birthday' placeholder=''></label></div>
        <button type="submit" name="button">submit</button>
    </form>
</div>
