<section>
  <table class="table table-striped">
    <thead>
      <tr>   
      <th>Name</th>
      <th>Age</th>
      <th>Books</th>
      <th>Actions</th>      
    </thead>
    <tbody>
      <tr [routerLink]="['/authors', author._id]" *ngFor='let author of authors'>
        <td>{{author.name}}</td>
        <td>{{author.age}}</td>
        <td>
          <a [routerLink]="['/authors/book', author._id]">Books</a>
        </td>
        <td (click)='tdClick($event)'> <button class='btn btn-danger btn-sm' (click)='removeAuthor(author)'>Delete Author</button></td>
      </tr>
    </tbody>
  </table>
</section>
