<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Hello Flask</h1>
    <p>Yay you successfully created another GET route that serves a page!</p>
    <p>Phrase: {{phrase}}</p>
    <p>Times: {{times}}</p>
    {% for x in range(0,times): %}
        {% if x % 2 == 1 %}
            <p>{{phrase}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>
