<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Register Here!</h1>
    <form class="" action="/user" method="post">
        First Name: <input type="text" name="first_name" value="">
        Last Name: <input type="text" name="last_name" value="">
        Email: <input type="text" name="email" value="">
        Password: <input type="text" name="password" value="">
        Confirm Password: <input type="text" name="confirm_password" value="">
        <input type="submit" name="register" value="Register">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p> {{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>
